@model IReadOnlyList<Game>

@{
	var eventItem = (Event) ViewBag.Event;

	ViewBag.Title = string.Format(CultureInfo.CurrentCulture, "批量赛程编辑 - {0}", eventItem.Name);
	var teams = eventItem.TeamRegistrations.Select(i => i.Team);

	var teamSelectList = new SelectList(teams, nameof(Team.Id), nameof(Team.Name));
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div class="alert alert-info">本页面可用于批量编辑赛事相关赛程的名称、轮次、参赛队伍、地点和时间信息。这个页面不能修改赛程状态和设定参赛官员，如果你需要执行这些操作，请进入某个比赛的编辑页面进行修改。</div>


@if (Model.Any())
{
	<form asp-controller="Game" asp-action="BatchEdit" asp-route-eventId="@eventItem.Id" asp-antiforgery="true" method="post">

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th>名称</th>
					<th>轮次</th>
					<th>参赛队伍 1</th>
					<th>参赛队伍 2</th>
					<th>地点</th>
					<th>开始时间</th>
					<th>结束时间</th>
				</tr>
			</thead>

			<tbody>

				@for (var i = 0; i < Model.Count; i++)
				{
					<tr>
						<th>
							<input type="hidden" asp-for="@Model[i].Id"/>
							<input class="form-control input-sm" asp-for="@Model[i].Name"/>
						</th>
						<td>
							<input class="form-control input-sm" size="3" asp-for="@Model[i].Round" />
						</td>
						<td>
							<select class="form-control input-sm" asp-for="@Model[i].Team1Id" asp-items="teamSelectList" asp-option-label="待定"></select>
						</td>
						<td>
							<select class="form-control input-sm" asp-for="@Model[i].Team2Id" asp-items="teamSelectList" asp-option-label="待定"></select>
						</td>
						<td>
							<input class="form-control input-sm" asp-for="@Model[i].Location" />
						</td>
						<td>
							<div class="input-group input-group-sm date">
								<input type="text" asp-for="@Model[i].StartTime" class="form-control" placeholder="待定" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</td>
						<td>
							<div class="input-group input-group-sm date">
								<input type="text" asp-for="@Model[i].EndTime" class="form-control" placeholder="待定" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</td>
					</tr>
				}

			</tbody>

		</table>

		<hr/>

		<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

		<button type="submit" class="btn btn-primary">更新数据</button>
		<button type="reset" class="btn btn-default">撤销更改</button>

	</form>
}
else
{
	<p class="text-center text-muted">目前没有可以编辑的赛程</p>
}

@section scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_AjaxPartial")

}