@model Game
@{
	ViewBag.Title = string.Format(CultureInfo.CurrentCulture, "比赛详情 - {0} - {1}", Model.Name, Model.Event.Name);
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<h2>基本信息</h2>

<table class="table table-striped">
	<tr>
		<th>名称</th>
		<td>@Model.Name</td>
	</tr>
	<tr>
		<th>地点</th>
		<td>
			@if (!string.IsNullOrEmpty(Model.Location))
			{
				<span>@Model.Location</span>
			}
			else
			{
				<span class="text-muted">待定</span>
			}
		</td>
	</tr>
	<tr>
		<th>开始时间</th>
		<td>
			@if (Model.StartTime != null)
			{
				<span>@Model.StartTime.Value.ToString("G")</span>
			}
			else
			{
				<span class="text-muted">待定</span>
			}
		</td>

	</tr>
	<tr>
		<th>结束时间</th>
		<td>
			@if (Model.EndTime != null)
			{
				<span>@Model.EndTime.Value.ToString("G")</span>
			}
			else
			{
				<span class="text-muted">待定</span>
			}
		</td>

	</tr>
</table>

<h2>对阵信息</h2>