@using System.Collections.Generic
@using CC98.Share
@using CC98.Share.Data
@using CC98.Share.ViewModels.SearchAll
@using Microsoft.AspNetCore.Mvc.Rendering
@using Sakura.AspNetCore
@model SearchModeViewModel

@{


	var searchTypeList = new List<SelectListItem>
	{
		new SelectListItem {Text = "发布者", Value = nameof(Valuation.UserName)},
		new SelectListItem {Text = "文件名", Value = nameof(Valuation.FileName)},
		new SelectListItem {Text = "描述", Value = nameof(Valuation.Discription)},
		new SelectListItem {Text = "文件名及描述", Value = nameof(Valuation.FileNameAndDis)}
	};

	var searchModeList = new List<SelectListItem>
	{
		new SelectListItem {Text = "精确匹配", Value = nameof(Accuracy.Accurate), Selected = false},
		new SelectListItem {Text = "部分匹配", Value = nameof(Accuracy.Vague), Selected = false}
	};

	var data = (ShareItem[])ViewData["List"];
	var dataSource = (IPagedList<ShareItem>)ViewData["datasource"];


	ViewBag.PageTitle = "搜索结果";
}

@if (ViewData["CHECK"] == null)
{
	<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<span>你没有输入任何搜索条件，请输入条件后再试一次</span>
	</div>

}
else if (data.Length == 0)
{

	<div class="alert alert-warning">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<span>本次搜索未找到任何文件，请更换条件再试一次</span>
	</div>
}
else
{

	<div class="alert alert-info">
		<a href="#" class="close" data-dismiss="alert">
			&times;
		</a>
		<span>本次搜索共找到 <strong>@data.Length</strong> 个文件</span>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>文件名</th>
				<th>操作</th>
				<th>上传用户</th>
				<th>上传日期</th>
				<th>文件大小</th>
			</tr>
		</thead>
		<tbody>


			@foreach (var item in dataSource)
				{
				<tr>

					<td>
						@*<a asp-controller="Home" asp-action="Fileinfo">*@@item.Name@*</a>*@
					</td>

					<td style="text-align: match-parent">
						<a class="btn btn-default btn-xs" asp-action="Download" asp-controller="File" asp-route-id="@item.Id">下载</a>
					</td>
					<td>@item.UserName</td>
					<td>@item.UploadTime.ToLocalTime().ToString("G")</td>
					@*<td>@item.Size</td>*@
					<td id="SizeOfItem" class="change-size">@item.Size</td>
				</tr>
				}


		</tbody>
	</table>
	<pager source="dataSource" />
}

<script type="text/javascript">


	function DeleteFile(obj) {
		$('#delete-file-id-input').val($(obj).data('id'));
		$('#delete-file-name-in').text($(obj).data('name'));
	}

	function ShareFile(obj) {
		$('#share-file-id-input').val($(obj).data('id'));
		$('#share-file-name-in').text($(obj).data('name'));
	}

	function CancelShare(obj) {
		$('#cancel-share-file-id-input').val($(obj).data('id'));
		$('#cancel-share-file-name-in').text($(obj).data('name'));
	}

	function JudgeFile() {

		@*用于上传文件时判断是否已选择文件，若没有选择，则无法上传*@

		if ($('#lefile').val() === '') {
			$('#uploadFile').attr('disabled', 'disabled');

		} else {
			$('#uploadFile').removeAttr('disabled');
			$('#photoCover').val($('#lefile').val());
		}

	}


</script>