@using System.Globalization
@using System.Security.Claims

@model Team

@inject AppSettingService<SystemSetting> SettingService

@{
	// 管理功能
	var showAdmin = (bool)ViewBag.ShowAdmin;
	ViewBag.Title = string.Format(CultureInfo.CurrentCulture, "队伍详情 - {0}", Model.Name);

	// 队伍部门
	ViewBag.TeamDepartment = Model.Department;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>

<h2>基本信息</h2>

<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<th>编号</th>
			<td>@Model.Id.ToString(SettingService.Current.TeamIdFormat)</td>
		</tr>
		<tr>
			<th>名称</th>
			<td>@Model.Name</td>
		</tr>
		<tr>
			<th>所属单位</th>
			<td>
				@if (Model.Department != null)
				{
					<span>@Model.Department</span>
				}
				else
				{
					<span class="text-muted">无</span>
				}
			</td>
		</tr>
		<tr>
			<th>位置</th>
			<td>
				@if (Model.Location != null)
				{
					<span>@Model.Location</span>
				}
				else
				{
					<span class="text-muted">无</span>
				}
			</td>
		</tr>
		<tr>
			<th>主场球衣颜色</th>
			<td>
				@if (Model.ClotheColor1 != null)
				{
					<span>@Model.ClotheColor1</span>
				}
				else
				{
					<span class="text-muted">无</span>
				}
			</td>
		</tr>
		<tr>
			<th>客场球衣颜色</th>
			<td>
				@if (Model.ClotheColor2 != null)
				{
					<span>@Model.ClotheColor2</span>
				}
				else
				{
					<span class="text-muted">无</span>
				}
			</td>
		</tr>
		<tr>
			<th>领队</th>
			<td>
				@if (Model.Skipper != null)
				{
					<a asp-controller="Member" asp-action="Detail" asp-route-id="@Model.SkipperId">@Model.Skipper.Name</a>
				}
				else
				{
					<span class="text-muted">无</span>
				}
			</td>
		</tr>
		<tr>
			<th>队长</th>
			<td>
				@if (Model.Captain != null)
				{
					<a asp-controller="Member" asp-action="Detail" asp-route-id="@Model.CaptainId">@Model.Captain.Name</a>
				}
				else
				{
					<span class="text-muted">无</span>
				}
			</td>
		</tr>
		<tr>
			<th>教练</th>
			<td>
				@if (Model.Coach != null)
				{
					<a asp-controller="Member" asp-action="Detail" asp-route-id="@Model.CoachId">@Model.Coach.Name</a>
				}
				else
				{
					<span class="text-muted">无</span>
				}
			</td>
		</tr>
	</tbody>
</table>

<hr />

@* 描述 *@
@if (!string.IsNullOrEmpty(Model.Description))
{
	<p>@Model.Description</p>
}
else
{
	<p class="text-center text-muted">该队伍没有提供简介</p>
}


@* 超链接 *@
@if (!string.IsNullOrEmpty(Model.Link))
{
	<a href="@Model.Link" target="_blank" class="btn btn-primary">访问队伍主页</a>
}

<hr />

<h2>成员信息</h2>

@if (showAdmin)
{
	<p>
		下表列出了队伍中目前所具有的成员。你可以通过操作列表中的按钮对成员加入申请进行同意或者拒绝，或者删除已有的成员。要邀请特定成员入队，请访问 <a asp-controller="Member" asp-action="Index">成员列表</a>，单击感兴趣的成员编号进入其详细信息页面并单击<q>邀请加入我的队伍</q>按钮进行邀请。
	</p>

	<div class="alert alert-warning">注意：如果某成员已经被加入某场赛事的参赛名单，则在比赛完成前，该成员将无法离队。</div>

	if (Model.MemberRegistrations.Any())
	{
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>身份</th>
					<th>备注</th>
					<th>个人审核状态</th>
					<th>球队申请状态</th>
					<th>成员申请状态</th>
					<th>加入时间</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var i in Model.MemberRegistrations.OrderBy(i => i.Member.Type))
				{
					<tr>
						<th>
							<a asp-controller="Member" asp-action="Detail" asp-route-id="@i.MemberId">@i.MemberId.ToString(SettingService.Current.MemberIdFormat)</a>
						</th>
						<td>@i.Member.Name</td>
						<td>
							@Html.Partial("_MemberTypePartial", i.Member.Type)
							@if (i.Member.Type == MemberType.Player && i.MemberId == Model.CaptainId)
							{
								<span class="label label-primary">队长</span>
							}
						</td>
						<td>
							@Html.Partial("_MemberRemarkPartial", i.Member)
						</td>

						<td>
							@Html.Partial("_AuditStatePartial", i.Member.AuditState)
						</td>

						<td>
							@Html.Partial("_AuditStatePartial", i.TeamAuditState)
						</td>
						<td>
							@Html.Partial("_AuditStatePartial", i.MemberAuditState)
						</td>
						<td>@i.Time.ToString("G")</td>
						<td>
							@if (i.TeamAuditState == AuditState.Accepted)
							{
								if (i.MemberAuditState == AuditState.Accepted)
								{
									if (i.Member.IsLockedByTeam(i.TeamId))
									{
										<span class="text-muted">已锁定</span>
									}
									else if (!User.CanOperate() && i.MemberId == Model.SkipperId)
									{
										// 没有操作权限的用户不能删除自己作为领队的项目
										<span class="text-muted">不可删除</span>
									}
									else
									{
										<button type="button" class="btn btn-xs btn-danger" data-id="@i.Member.Id" data-name="@i.Member.Name" onclick="deleteApply(this);">删除成员</button>

									}
								}
								else
								{
									<button type="button" class="btn btn-xs btn-default" data-id="@i.Member.Id" data-name="@i.Member.Name" onclick="cancelApply(this);">取消邀请</button>
								}
							}
							else
							{
								<div class="btn-group btn-group-xs">
									<button type="button" class="btn btn-default" data-id="@i.Member.Id" data-name="@i.Member.Name" onclick="acceptApply(this);">接受申请</button>
									<button type="button" class="btn btn-default" data-id="@i.Member.Id" data-name="@i.Member.Name" onclick="rejectApply(this);">拒绝申请</button>
								</div>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p class="text-muted text-center">该队伍目前还没有任何成员</p>
	}

	<form asp-controller="Team" asp-action="AcceptApply" method="post" asp-antiforgery="true" id="accept-apply-form">

		<input type="hidden" name="teamId" value="@Model.Id" />
		<input type="hidden" name="memberId" id="accept-member-id-input" />

		<div class="modal fade" id="accept-member-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">接受加入申请</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会使 <strong><span id="accept-member-name-text"></span></strong> 加入该队伍。你可以在稍后自由选择将其从队伍中删除，但若该成员被指派参加比赛，则在参赛期间将无法离队。
						</p>

						<div class="form-group">
							<label for="accept-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="accept-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="accept-dialog-error-text"></p>
						<button type="submit" class="btn btn-primary">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Team" asp-action="RejectApply" method="post" asp-antiforgery="true" id="reject-apply-form">

		<input type="hidden" name="teamId" value="@Model.Id" />
		<input type="hidden" name="memberId" id="reject-member-id-input" />

		<div class="modal fade" id="reject-member-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">拒绝加入申请</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会使该队伍拒绝 <strong><span id="reject-member-name-text"></span></strong> 发出的入队申请。如果要重新入队，你或者对方必须稍后再次提出申请并获得另一方同意。
						</p>

						<div class="form-group">
							<label for="reject-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="reject-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="reject-dialog-error-text"></p>
						<button type="submit" class="btn btn-primary">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Team" asp-action="CancelApply" method="post" asp-antiforgery="true" id="cancel-apply-form">

		<input type="hidden" name="teamId" value="@Model.Id" />
		<input type="hidden" name="memberId" id="cancel-member-id-input" />

		<div class="modal fade" id="cancel-member-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">取消加入邀请</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会取消你向 <strong><span id="cancel-member-name-text"></span></strong> 发出的入队邀请。你可以稍后再次提出邀请。
						</p>

						<div class="form-group">
							<label for="cancel-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="cancel-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="cancel-dialog-error-text"></p>
						<button type="submit" class="btn btn-primary">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Team" asp-action="DeleteMember" method="post" asp-antiforgery="true" id="delete-apply-form">

		<input type="hidden" name="teamId" value="@Model.Id" />
		<input type="hidden" name="memberId" id="delete-member-id-input" />

		<div class="modal fade" id="delete-member-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">离开队伍</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会使 <strong><span id="delete-member-name-text"></span></strong> 离开该队伍，这个操作不可撤销！离开队伍后，如果你希望再次邀请该成员加入，你或对方必须再次提出申请并获得另一方同意。
						</p>

						<div class="form-group">
							<label for="delete-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="delete-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="delete-dialog-error-text"></p>
						<button type="submit" class="btn btn-danger">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

}
else
{
	var items = (from i in Model.MemberRegistrations
				 where i.MemberAuditState == AuditState.Accepted && i.TeamAuditState == AuditState.Accepted
				 orderby i.Member.Type ascending
				 select i).ToArray();

	<p> 下表列出了目前已经正式加入队伍的所有成员。</p>

	if (items.Any())
	{
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>身份</th>
					<th>备注</th>
					<th>加入时间</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var i in items)
				{
					<tr>
						<th>
							<a asp-controller="Member" asp-action="Detail" asp-route-id="@i.Member.Id">@i.Member.Id.ToString(SettingService.Current.MemberIdFormat)</a>
						</th>
						<td>@i.Member.Name</td>
						<td>
							@Html.Partial("_MemberTypePartial", i.Member.Type)
							@if (i.Member.Type == MemberType.Player && i.MemberId == Model.CaptainId)
							{
								<span class="label label-primary">队长</span>
							}
						</td>
						<td>
							@Html.Partial("_MemberRemarkPartial", i.Member)
						</td>
						<td>@i.Time.ToString("G")</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p class="text-center text-muted">目前还没有成员正式加入该队伍</p>
	}
}



@if (User.Identity.IsAuthenticated)
{
	<button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#apply-team-modal">申请由我注册的成员加入该球队</button>
	@await Component.InvokeAsync("TeamMemberApply", Model.Id)

}

<hr />

<h2>参赛记录</h2>
<p>下表中列出了该队伍迄今为止的参赛记录。</p>

@if (Model.EventTeamRegistrations.Count != 0)
{
	ViewBag.ShowEvent = true;
	ViewBag.ShowTeam = false;
	ViewBag.ShowAdmin = showAdmin;
	ViewBag.ForceAdmin = false;
	ViewBag.ShowAuditState = showAdmin;


	@await Html.PartialAsync("_EventTeamApplyListPartial", Model.EventTeamRegistrations)
}
else
{
	<hr />
	<p class="text-center text-muted">目前该队伍还没有任何参赛记录</p>
}



@section scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_AjaxPartial")

	<script type="text/javascript" language="javascript">

		$('#apply-team-form').ajaxForm({
			success: function () {
				window.location.reload();
			},
			error: function (xhr) {
				$('#apply-team-error-text').text(getErrorText(xhr));
			}
		});

	</script>

	@if (showAdmin)
	{
		<script type="text/javascript" language="javascript">


			$(document).ready(function () {

				$('#accept-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#accept-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#reject-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#reject-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#cancel-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#cancel-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#delete-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#delete-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#invite-member-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#invite-member-error-text').text(getErrorText(xhr));
					}
				});

			});

			function acceptApply(btn) {

				$('#accept-member-id-input').val($(btn).data('id'));
				$('#accept-member-name-text').text($(btn).data('name'));

				$('#accept-member-dialog').modal();
			}


			function rejectApply(btn) {

				$('#reject-member-id-input').val($(btn).data('id'));
				$('#reject-member-name-text').text($(btn).data('name'));

				$('#reject-member-dialog').modal();
			}

			function cancelApply(btn) {

				$('#cancel-member-id-input').val($(btn).data('id'));
				$('#cancel-member-name-text').text($(btn).data('name'));

				$('#cancel-member-dialog').modal();
			}

			function deleteApply(btn) {

				$('#delete-member-id-input').val($(btn).data('id'));
				$('#delete-member-name-text').text($(btn).data('name'));

				$('#delete-member-dialog').modal();
			}

		</script>

	}

}
