@using System.Globalization
@using System.Threading.Tasks
@using CC98
@using CC98.Sports

@model Sakura.AspNet.IPagedList<Event>
@inject AppSettingService<SystemSetting> SettingService

@{
	ViewBag.Title = "赛事一览";
	var showManage = (bool)ViewBag.ShowManage;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div class="alert alert-info">这个页面中列出了目前系统中已经注册的所有赛事。赛事是由管理员创建的，如果你希望举办新的赛事，请联系管理员。</div>

<hr />

<div message-list-style="MessageListStyle.AlertDialog"></div>

@if (showManage)
{
	<a class="btn btn-primary" asp-action="Create">添加新赛事</a>
	<hr />
}

@if (Model.Any())
{
	<table class="table table-hover table-striped">

		<thead>
			<tr>
				<th>编号</th>
				<th>名称</th>
				<th>类别</th>
				<th>开放队伍报名</th>
				<th>参赛队伍数量</th>
				<th>状态</th>

				@if (showManage)
				{
					<th>操作</th>
				}

			</tr>
		</thead>

		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<th>
						<a asp-action="Detail" asp-route-id="@item.Id">@item.Id.ToString(SettingService.Current.EventIdFormat, CultureInfo.CurrentCulture)</a>

					</th>
					<th>
						@item.Name
					</th>
					<td>
						@switch (item.Type)
					{
						case EventType.Cup:
								<span>杯赛</span>
							break;
						case EventType.League:
								<span>联赛</span>
							break;
					}
					</td>
					<td>
						@if (item.AllowTeamRegistrations)
						{
							<span class="text-success">是</span>
						}
						else
						{
							<span class="text-muted">否</span>
						}
					</td>
					<td>
						@if (item.MaxTeamCount != null)
						{
							<span>@string.Format(CultureInfo.CurrentCulture, "{0} / {1}", item.TeamRegistrations.Count, item.MaxTeamCount.Value)</span>
						}
						else
						{
							<span>@string.Format(CultureInfo.CurrentCulture, "{0}", item.TeamRegistrations.Count)</span>
						}
					</td>
					<td>
						<strong>
							@switch (item.State)
							{
								case EventState.NotOpen:
									<span class="text-muted">尚未开放</span>
									break;
								case EventState.Preparing:
									<span class="text-primary">正在准备</span>
									break;
								case EventState.Registring:
									<span class="text-success">注册报名</span>
									break;
								case EventState.Running:
									<span class="text-primary">正在进行</span>
									break;
								case EventState.Closed:
									<span>赛事结束</span>
									break;
							}
						</strong>
					</td>

					@if (showManage)
					{
						<td>
							<div class="btn-group btn-group-xs">
								<a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">编辑</a>
								<button type="button" data-id="@item.Id" data-name="@item.Name" class="btn btn-default btn-danger" onclick="showDeleteEvent(this);">删除</button>
							</div>

							@switch (item.State)
							{
								case EventState.Preparing:
								case EventState.Registring:
									<button type="button" data-id="@item.Id" data-name="@item.Name" class="btn btn-default btn-xs" onclick="showRunEvent(this);">启动赛事</button>
									break;
								case EventState.Running:
									<button type="button" data-id="@item.Id" data-name="@item.Name" class="btn btn-default btn-xs" onclick="showCloseEvent(this);">结束赛事</button>
									break;
							}
						</td>
					}
				</tr>
			}

		</tbody>

	</table>

	<nav asp-pager-source="Model"></nav>
}
else
{
	<p class="text-center">目前还没有赛事</p>
}

@if (showManage)
{
	<form asp-controller="Event" asp-action="Delete" method="post" asp-antiforgery="true" id="delete-event-form">

		<input type="hidden" name="id" id="remove-event-id" />

		<div class="modal fade" id="remove-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">删除警告</h4>
					</div>
					<div class="modal-body">
						<p>
							你确定要删除赛事 <strong><span id="event-name-text"></span></strong> 吗？这个操作将无法撤销。如果你确定要执行删除操作，请点击下面的 <q>确认删除</q>按钮；否则，请点击<q>关闭</q>或者对话框外的任何位置。
						</p>
					</div>
					<div class="modal-footer">
						<p class="text-danger" id="delete-dialog-error-text">
						</p>
						<button type="button" class="btn btn-danger" onclick="doDeleteEvent();">确认删除</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Event" asp-action="Run" method="post" asp-antiforgery="true" id="run-event-form">

		<input type="hidden" name="id" id="run-event-id" />

		<div class="modal fade" id="run-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">启动赛事</h4>
					</div>
					<div class="modal-body">
						<p>
							当你启动赛事 <strong><span id="run-event-name-text"></span></strong> 时，所有参赛队伍的状态都将变成<q>正在参赛</q>。如果你不希望产生这个效果，请通过<q>编辑</q>按钮手动修改赛事的当前状态。如果你确定要执行这个操作，请点击下面的 <q>确认</q>按钮；否则，请点击<q>关闭</q>或者对话框外的任何位置。
						</p>
					</div>
					<div class="modal-footer">
						<p class="text-danger" id="run-dialog-error-text">
						</p>
						<button type="button" class="btn btn-primary" onclick="doRunEvent();">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Event" asp-action="Close" method="post" asp-antiforgery="true" id="close-event-form">

		<input type="hidden" name="id" id="close-event-id" />

		<div class="modal fade" id="close-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">关闭赛事</h4>
					</div>
					<div class="modal-body">
						<p>当你关闭赛事 <strong><span id="close-event-name-text"></span></strong> 时，所有参赛队伍的状态都将变成<q>赛事结束</q>。如果你不希望产生这个效果，请通过<q>编辑</q>按钮手动修改赛事的当前状态。如果你确定要执行这个操作，请点击下面的 <q>确认</q>按钮；否则，请点击<q>关闭</q>或者对话框外的任何位置。</p>
					</div>
					<div class="modal-footer">
						<p class="text-danger" id="close-dialog-error-text"></p>
						<button type="button" class="btn btn-primary" onclick="doCloseEvent();">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>
}

@section scripts{

	@if (showManage)
	{
		@await Html.PartialAsync("_AjaxPartial")

		<script type="text/javascript" language="javascript">

			function showDeleteEvent(btn) {

				$('#event-name-text').text($(btn).data('name'));
				$('#remove-event-id').val($(btn).data('id'));

				$('#remove-dialog').modal();
			}

			function doDeleteEvent() {

				$('#delete-dialog-error-text').text('');

				$('#delete-event-form').ajaxSubmit({
					success: function (result, statusText, xhr) {
						window.location.reload();
					},
					error: function (xhr) {
						$('#delete-dialog-error-text').text(getErrorText(xhr));
					}
				});

			}

			function showRunEvent(btn) {

				$('#run-event-name-text').text($(btn).data('name'));
				$('#run-event-id').val($(btn).data('id'));

				$('#run-dialog').modal();
			}

			function doRunEvent() {

				$('#run-dialog-error-text').text('');

				$('#run-event-form').ajaxSubmit({
					success: function (result, statusText, xhr) {
						window.location.reload();
					},
					error: function ( xhr) {
						$('#run-dialog-error-text').text(getErrorText(xhr));
					}
				});

			}

			function showCloseEvent(btn) {

				$('#close-event-name-text').text($(btn).data('name'));
				$('#close-event-id').val($(btn).data('id'));

				$('#close-dialog').modal();
			}

			function doCloseEvent() {

				$('#close-dialog-error-text').text('');

				$('#close-event-form').ajaxSubmit({
					success: function (result, statusText, xhr) {
						window.location.reload();
					},
					error: function (xhr) {
						$('#close-dialog-error-text').text(getErrorText(xhr));
					}
				});

			}

		</script>
	}
}
