@using Microsoft.Extensions.OptionsModel
@using System.Security.Claims

@inject IOptions<CC98.Sports.AppSetting> AppSetting
@inject SportDataModel DbContext

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @AppSetting.Value.SiteTitle</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
		<link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
		<link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
			  asp-fallback-href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css"
			  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
		<link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" asp-fallback-test-class="bootstrap-datetimepicker-widget" asp-fallback-test-property="list-style" asp-fallback-test-value="none" asp-fallback-href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="~/css/site.css" asp-file-version="true" />
	</environment>
	<meta name="description" content="The description of my page" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-controller="Home" asp-action="Index" class="navbar-brand">@AppSetting.Value.SiteTitle</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">

					<li><a asp-controller="Event" asp-action="Index">赛事</a></li>
					<li><a asp-controller="Team" asp-action="Index">队伍</a></li>
					<li><a asp-controller="Member" asp-action="Index">成员</a></li>

					@if (User.Identity.IsAuthenticated)
					{
						var userName = User.GetUserName();
						var userUnreadMessageCount = await (from i in DbContext.Messages
															where i.Receiver == userName && i.IsRead == false
															select i).CountAsync();

						<li>
							<a asp-controller="Message" asp-action="Index">
								<span>消息</span>
								@if (userUnreadMessageCount != 0)
								{
									<span class="badge">@userUnreadMessageCount</span>
								}
							</a>
						</li>
					}

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理 <span class="caret"></span></a>
						<ul class="dropdown-menu">

							<li><a asp-controller="Manage" asp-action="Me">我的资料</a></li>

							@if (User.CanReview())
							{
								var reviewMemberCount = await (from i in DbContext.Members where i.AuditState == AuditState.Pending select i).CountAsync();
								var reviewEventApplyCount = await (from i in DbContext.EventTeamRegistrations where i.AuditState == AuditState.Pending select i).CountAsync();

								<li role="separator" class="divider"></li>
								<li>
									<a asp-controller="Manage" asp-action="ReviewMember">

										<span>审核成员资料</span>

										@if (reviewMemberCount != 0)
										{
											<span class="badge">@reviewMemberCount</span>
										}
									</a>
								</li>
								<li>
									<a asp-controller="Manage" asp-action="ReviewTeamEventApply">
										<span>审核参赛申请</span>

										@if (reviewEventApplyCount != 0)
										{
											<span class="badge">@reviewEventApplyCount</span>
										}
									</a>
								</li>
							}


							@if (User.CanAdmin())
							{
								<li role="separator" class="divider"></li>
								<li><a asp-controller="Manage" asp-action="Feature">系统功能</a></li>
								<li><a asp-controller="Manage" asp-action="SystemSetting">系统设置</a></li>
								<li><a asp-controller="Manage" asp-action="Permission">用户权限</a></li>
								<li><a asp-controller="Manage" asp-action="Log">管理日志</a></li>
							}
						</ul>

					</li>

				</ul>

				@await Html.PartialAsync("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p class="text-center">&copy; 2015 - @AppSetting.Value.SiteTitle</p>
		</footer>
	</div>

	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/hammer.js/hammer.js"></script>
		<script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
		<script src="~/lib/jquery-ui/jquery-ui.js"></script>
		<script src="~/lib/moment/min/moment-with-locales.js"></script>
		<script src="~/lib/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
		<script src="~/js/site.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
		<script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
		</script>
		<script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
				asp-fallback-src="~/lib/hammer.js/hammer.js"
				asp-fallback-test="window.Hammer">
		</script>
		<script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
				asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
				asp-fallback-test="window.Hammer && window.Hammer.Instance">
		</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js" asp-fallback-test="window.moment" asp-fallback-src="~/lib/moment/min/moment-with-locales.min.js"></script>
		<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.datetimepicker" asp-fallback-src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

		<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
		<script src="~/js/site.min.js" asp-file-version="true"></script>

	</environment>

	<script type="text/javascript" language="javascript">

		// 日期输入框
		$(document).ready(function () {

			$('.date').datetimepicker({
				locale: 'zh-cn',
				format: 'YYYY/MM/DD HH:mm:ss'
			});

		});

	</script>

	@RenderSection("scripts", required: false)
</body>
</html>
