@model Microsoft.AspNet.Diagnostics.Views.ErrorPageModel

@{
	ViewData["Title"] = "执行错误";
}

<h1 class="text-danger">应用程序运行中发生错误</h1>
<p>如果你持续看到这个错误，请与管理员联系。</p>
@if (User.IsInRole("Administrators"))
{
	<hr />
	<h2>适用于管理员的错误详细信息</h2>

	if (Model.ErrorDetails.Any())
	{
		foreach (var errorDetail in Model.ErrorDetails)
		{
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">@errorDetail.Error.Message</h2>
				</div>
				<div class="panel-body">
					<p class="text-info">下表显示了执行错误相关的堆栈帧数据</p>
					@foreach (var stackFrame in errorDetail.StackFrames)
					{
						<hr />
						<p>文件：@stackFrame.File</p>
						<p>方法：@stackFrame.Function</p>
						<p>行号：@stackFrame.Line</p>
						<hr />
						<ul>
							@foreach (var detail in stackFrame.ErrorDetails)
							{
								<li>@detail</li>
							}

						</ul>
						<hr />

						foreach (var code in stackFrame.PreContextCode)
						{
							<code>@code</code>
						}

						foreach (var code in stackFrame.ContextCode)
						{
							<code class="text-danger">@code</code>
						}

						foreach (var code in stackFrame.PostContextCode)
						{
							<code>@code</code>
						}
					}
				</div>
			</div>
		}
	}
	else
	{
		<p class="text-center text-muted">目前没有可用的错误详细信息</p>
	}
}