@using System.Globalization
@using CC98

@model Member
@inject AppSettingService<SystemSetting> SettingService

@{
	ViewBag.Title = string.Format(CultureInfo.CurrentCulture, "注册人员详情 - {0}", Model.Name);

	var showReview = (bool)ViewBag.ShowReview;
	var showDetail = (bool)ViewBag.ShowDetail;
	var showAdmin = (bool)ViewBag.ShowAdmin;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>


@switch (Model.AuditState)
{
	case AuditState.NotCommitted:
		<div class="alert alert-info">目前该成员的身份还未提交管理员进行审核。</div>
		break;
	case AuditState.Pending:
		<div class="alert alert-warning">目前该成员的身份还未经过管理员审核。</div>
		break;
	case AuditState.Accepted:
		<div class="alert alert-success">该成员已经被管理员通过审核申请。</div>
		break;
	case AuditState.Rejected:
		<div class="alert alert-danger">该成员已经被管理员驳回审核申请。</div>
		break;
}

<h2>基本资料</h2>

<table class="table table-striped">
	<tbody>
		<tr>
			<th>编号</th>
			<td>@Model.Id.ToString(SettingService.Current.MemberIdFormat, CultureInfo.CurrentCulture)</td>
		</tr>
		<tr>
			<th>姓名</th>
			<td>@Model.Name</td>
		</tr>
		<tr>
			<th>性别</th>
			<td>
				@switch (Model.Gender)
			{
				case Gender.Male:
						<span>男</span>
					break;
				case Gender.Female:
						<span>女</span>
					break;
			}
			</td>
		</tr>
		<tr>
			<th>所在部门</th>
			<td>
				@if (!string.IsNullOrEmpty(Model.Department))
			{
					<span>@Model.Department</span>
			}
			else
			{
					<span class="text-muted">尚未填写</span>
			}
			</td>
		</tr>
		<tr>
			<th>位置</th>
			<td>
				@if (!string.IsNullOrEmpty(Model.Location))
			{
					<span>@Model.Location</span>
			}
			else
			{
					<span class="text-muted">尚未填写</span>
			}
			</td>
		</tr>
		<tr>
			<th>国籍</th>
			<td>
				@if (!string.IsNullOrEmpty(Model.Nationality))
				{
					<span>@Model.Nationality</span>
				}
				else
				{
					<span class="text-muted">尚未填写</span>
				}
			</td>
		</tr>
		<tr>
			<th>报名类别</th>
			<td>

				@await Html.PartialAsync("_MemberTypePartial", Model.Type)

			</td>
		</tr>
		<tr>
			<th>
				备注
			</th>
			<td>
				@await Html.PartialAsync("_MemberRemarkPartial", Model)
			</td>
		</tr>
		<tr>
			<th>个人简介</th>
			<td>
				@if (!string.IsNullOrEmpty(Model.Description))
			{
					<span>@Model.Description</span>
			}
			else
			{
					<span class="text-muted">无</span>
			}
			</td>
		</tr>
	</tbody>
</table>

@if (showDetail)
{
	<div class="alert alert-info">以下内容只有用户本人及管理人员可见。</div>

	<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<th>身份证件号码</th>
				<td>
					@if (!string.IsNullOrEmpty(Model.PersonalId))
				{
						<span>@Model.PersonalId</span>
				}
				else
				{
						<span class="text-muted">无</span>
				}
				</td>
			</tr>
			<tr>
				<th>学校证件号码</th>
				<td>
					@if (!string.IsNullOrEmpty(Model.SchoolId))
				{
						<span>@Model.SchoolId</span>
				}
				else
				{
						<span class="text-muted">无</span>
				}
				</td>
			</tr>
			<tr>
				<th>联系方式</th>
				<td>
					@if (!string.IsNullOrEmpty(Model.ContactInfo))
				{
						<span>@Model.ContactInfo</span>
				}
				else
				{
						<span class="text-muted">无</span>
				}
				</td>
			</tr>
		</tbody>
	</table>
}

<hr />
<h2>所属队伍</h2>



@if (showAdmin)
{
	<p>下表列出了该成员目前申请加入的队伍，以及球员和队伍双方的双向选择审核状态。当球员和队员同时通过审核时，球员将自动成为成为队伍的一员。已经加入队伍的球员如果申请离开，将会自动解除成员关系并需要再次申请。要申请加入队伍，请通过 <a asp-controller="Team" asp-action="Index">球队一览</a> 页面查看球队详细信息，并在详细信息页面申请加入球队。</p>

	<div class="alert alert-warning">注意：如果该成员列入某队伍报名参加比赛的名单中，则在比赛结束前，该成员将不能离队。</div>


	if (Model.TeamRegistrations.Any())
	{
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>球队</th>
					<th>球队审核状态</th>
					<th>球员审核状态</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var i in Model.TeamRegistrations)
				{
					ViewBag.TeamDepartment = i.Team.Department;

					<tr>
						<th><a asp-controller="Team" asp-action="Detail" asp-route-id="@i.Team.Id">@i.Team.Id.ToString(SettingService.Current.TeamIdFormat)</a></th>
						<td>@i.Team.Name</td>
						<td>@Html.Partial("_AuditStatePartial", i.TeamAuditState)</td>
						<td>@Html.Partial("_AuditStatePartial", i.MemberAuditState)</td>
						<td>
							@if (i.MemberAuditState == AuditState.Accepted)
							{
								if (i.TeamAuditState == AuditState.Accepted)
								{
									// 如果赛事尚未结束，则不允许修改
									if (i.Member.IsLockedByTeam(i.TeamId))
									{
										<span class="text-muted">已锁定</span>

									}
									else if (!User.CanOperate() && i.MemberId == i.Team.SkipperId)
									{
										<span class="text-muted">不可离开</span>
									}
									else
									{
										<div class="btn-group btn-group-xs">
											<button type="button" class="btn btn-danger" data-id="@i.TeamId" data-name="@i.Team.Name" onclick="deleteApply(this);">离开队伍</button>
										</div>
									}
								}
								else
								{
									<div class="btn-group btn-group-xs">
										<button type="button" class="btn btn-danger" data-id="@i.TeamId" data-name="@i.Team.Name" onclick="cancelApply(this);">取消申请</button>
									</div>
								}
							}
							else
							{
								<div class="btn-group btn-group-xs">
									<button type="button" class="btn btn-default" data-id="@i.TeamId" data-name="@i.Team.Name" onclick="acceptApply(this);">接受邀请</button>
									<button type="button" class="btn btn-default" data-id="@i.TeamId" data-name="@i.Team.Name" onclick="rejectApply(this);">拒绝邀请</button>
								</div>
							}

						</td>
					</tr>
				}
			</tbody>

		</table>
	}
	else
	{
		<p class="text-muted text-center">该成员目前还没有申请加入任何队伍</p>
	}


	<form asp-controller="Member" asp-action="AcceptApply" method="post" asp-antiforgery="true" id="accept-apply-form">

		<input type="hidden" name="memberId" value="@Model.Id" />
		<input type="hidden" name="teamId" id="accept-team-id-input" />

		<div class="modal fade" id="accept-team-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">接受加入申请</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会使你加入队伍 <strong><span id="accept-team-name-text"></span></strong>。你可以在自由选择退出队伍，但若你被领队指派参加比赛，则在参赛期间将无法离队。
						</p>

						<div class="form-group">
							<label for="accept-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="accept-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="accept-dialog-error-text"></p>
						<button type="submit" class="btn btn-primary">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Member" asp-action="RejectApply" method="post" asp-antiforgery="true" id="reject-apply-form">

		<input type="hidden" name="memberId" value="@Model.Id" />
		<input type="hidden" name="teamId" id="reject-team-id-input" />

		<div class="modal fade" id="reject-team-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">拒绝加入申请</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会使你拒绝队伍 <strong><span id="reject-team-name-text"></span></strong> 对你发出的加入申请。如果要加入队伍，你或者队伍领队必须稍后再次提出申请并获得对方同意。
						</p>

						<div class="form-group">
							<label for="reject-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="reject-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="dialog-error-text"></p>
						<button type="submit" class="btn btn-primary">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Member" asp-action="CancelApply" method="post" asp-antiforgery="true" id="cancel-apply-form">

		<input type="hidden" name="memberId" value="@Model.Id" />
		<input type="hidden" name="teamId" id="cancel-team-id-input" />

		<div class="modal fade" id="cancel-team-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">取消加入申请</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会取消你加入 <strong><span id="cancel-team-name-text"></span></strong> 的申请。你可以稍后再次提出申请。
						</p>

						<div class="form-group">
							<label for="cancel-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="cancel-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="dialog-error-text"></p>
						<button type="submit" class="btn btn-primary">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>

	<form asp-controller="Member" asp-action="LeaveTeam" method="post" asp-antiforgery="true" id="delete-apply-form">

		<input type="hidden" name="memberId" value="@Model.Id" />
		<input type="hidden" name="teamId" id="delete-team-id-input" />

		<div class="modal fade" id="delete-team-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">离开队伍</h4>
					</div>
					<div class="modal-body">
						<p>
							单击<q>确认</q>按钮将会使你离开队伍 <strong><span id="delete-team-name-text"></span></strong>，这个操作不可撤销！离开队伍后，如果你希望再次加入队伍，你或者队伍领队必须稍后再次提出申请并获得对方同意。
						</p>

						<div class="form-group">
							<label for="delete-reason-input" class="control-label">操作理由（可选）：</label>
							<textarea id="delete-reason-input" rows="3" name="reason" class="form-control"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<p class="text-danger" id="dialog-error-text"></p>
						<button type="submit" class="btn btn-danger">确认操作</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</form>
}
else
{
	<p>下表列出了该成员目前报名加入的队伍。</p>


	// 只显示双向审核通过的队伍
	var teams = (from i in Model.TeamRegistrations
				 where i.MemberAuditState == AuditState.Accepted && i.TeamAuditState == AuditState.Accepted
				 select i).ToArray();

	if (teams.Any())
	{
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>球队</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var i in Model.TeamRegistrations)
				{
					ViewBag.TeamDepartment = i.Team.Department;

					<tr>
						<th><a asp-controller="Team" asp-action="Detail" asp-route-id="@i.Team.Id">@i.Team.Id.ToString(SettingService.Current.TeamIdFormat)</a></th>
						<td>@i.Team.Name</td>
					</tr>
				}
			</tbody>

		</table>
	}
	else
	{
		<p class="text-muted text-center">该成员目前还没有正式加入任何队伍</p>
	}
}

@if (User.Identity.IsAuthenticated)
{
	switch (Model.Type)
	{
		case MemberType.Player:
		case MemberType.Skipper:
		case MemberType.Coach:

			<button type="button" class="btn btn-primary" onclick="$('#invite-member-modal').modal();">邀请该成员加入我注册的队伍</button>
			@await Component.InvokeAsync("TeamMemberInvite", Model.Id)

			break;
	}

}



<hr />
<h2>参赛资料</h2>
<p class="text-muted text-center">目前还没有关于该人员的参赛记录</p>

@if (showReview)
{
	<hr />
	<h2>信息审核</h2>

	// 审核图片列表
	var images = (Model.UploadImagePaths ?? string.Empty).Split(new[] { '\n' }, StringSplitOptions.RemoveEmptyEntries);

	<p class="text-info">下面是该人员提交的审核资料，请仔细查看所有资料并在此页面做出审核决定。</p>

	if (images.Length != 0)
	{
		<div class="row">

			@foreach (var image in images)
			{
				<div class="col-md-3 col-sm-6">
					<a href="@image" target="_blank">
						<img src="@image" alt="审核图片" class="img-responsive img-rounded" />
					</a>
				</div>
			}

		</div>
	}
	else
	{
		<p class="text-center text-muted">目前该成员没有上传任何审核资料</p>
	}

	// 覆盖审核提示
	var overrideText = (Model.AuditState != AuditState.Pending).ToJavaScriptString();

	<hr />

	if (Model.IsLocked())
	{
		<p class="text-muted">当前成员正在参与某项赛事。在参与赛事期间，无法修改该成员的审核状态。</p>
	}
	else if (Model.AuditState != AuditState.NotCommitted)
	{
		<form asp-controller="Member" asp-action="Review" asp-antiforgery="true" method="post" id="review-form" data-override="@overrideText" onsubmit="return onReviewSubmit();">

			<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
			<input type="hidden" name="id" value="@Model.Id" />
			<input type="hidden" id="review-state-input" name="reviewState" />


			<div class="form-group">
				<label for="audit-reason-input" class="control-label">审核操作原因</label>
				<textarea id="audit-reason-input" name="reason" class="form-control" rows="3" placeholder="在此处写入审核操作原因，然后单击相应的按钮"></textarea>
			</div>

			<button class="btn btn-success" type="button" onclick="onAcceptReview();"><span class="glyphicon glyphicon-ok"></span> 通过审核</button>
			<button class="btn btn-danger" type="button" onclick="onRejectReview();"><span class="glyphicon glyphicon-remove"></span> 拒绝审核</button>

			@if (Model.AuditState != AuditState.Pending)
			{
				<button class="btn btn-warning" type="button" onclick="onResetReview();"><span class="glyphicon glyphicon-repeat"></span> 恢复为未审核状态</button>
			}

		</form>
	}
	else
	{
		<p class="text-muted">该成员尚未申请审核。必须首先由该成员发起审核申请，你才能通过或者驳回审核。</p>

	}

}

@section scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_AjaxPartial")


	@if (showReview)
	{


		<script type="text/javascript" language="javascript">

			function onReviewSubmit() {

				if ($('#review-form').data('override')) {
					return confirm('该成员已经进行过审核操作。继续操作将会覆盖之前的审核结果。你确定要继续吗？');
				}

				return true;
			}

			function onAcceptReview() {

				$('#review-state-input').val('Accepted');
				$('#review-form').submit();
			}

			function onRejectReview() {
				$('#review-state-input').val('Rejected');
				$('#review-form').submit();
			}

			function onResetReview() {
				$('#review-state-input').val('Pending');
				$('#review-form').submit();
			}

		</script>
	}

	@if (showAdmin)
	{
		<script type="text/javascript" language="javascript">


			$(document).ready(function () {

				$('#accept-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#accept-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#reject-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#reject-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#cancel-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#cancel-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#delete-apply-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#delete-dialog-error-text').text(getErrorText(xhr));
					}
				});

				$('#invite-member-form').ajaxForm({
					success: function () {
						window.location.reload();
					},
					error: function (xhr) {
						$('#invite-member-error-text').text(getErrorText(xhr));
					}
				});

			});

			function acceptApply(btn) {

				$('#accept-team-id-input').val($(btn).data('id'));
				$('#accept-team-name-text').text($(btn).data('text'));

				$('#accept-team-dialog').modal();
			}


			function rejectApply(btn) {

				$('#reject-team-id-input').val($(btn).data('id'));
				$('#reject-team-name-text').text($(btn).data('text'));

				$('#reject-team-dialog').modal();
			}

			function cancelApply(btn) {

				$('#cancel-team-id-input').val($(btn).data('id'));
				$('#cancel-team-name-text').text($(btn).data('text'));

				$('#cancel-team-dialog').modal();
			}

			function deleteApply(btn) {

				$('#delete-team-id-input').val($(btn).data('id'));
				$('#delete-team-name-text').text($(btn).data('text'));

				$('#delete-team-dialog').modal();
			}

		</script>

	}

}