@model IPagedList<Message>

@{
	ViewBag.Title = "我的消息";
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>

@if (Model.Any())
{
	<table class="table table-striped table-hover">

		<thead>
		<tr>
			<th>内容</th>
			<th>时间</th>
			<th>操作</th>
		</tr>
		</thead>

		<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@if (item.IsRead)
					{
						<span>@item.Content</span>
					}
					else
					{
						<strong>@item.Content</strong>
					}
				</td>
				<td>@item.Time.ToString("G")</td>
				<td>
					<div class="btn-group btn-group-xs">
						<a class="btn btn-default" asp-controller="Message" asp-action="SetRead" asp-route-id="@item.Id" title="将该消息标记为已读">已读</a>
						<a class="btn btn-default" asp-controller="Message" asp-action="SetUnread" asp-route-id="@item.Id" title="将该消息标记为未读">未读</a>
					</div>
					<div class="btn-group btn-group-xs">
						<a class="btn btn-danger" asp-controller="Message" asp-action="Delete" asp-route-id="@item.Id" onclick="confirm('你确定要删除这条消息吗？这个操作无法撤销。');">删除</a>
					</div>
				</td>
			</tr>

		}

		</tbody>

	</table>

	<form asp-controller="Message" asp-action="DeleteMyAll" asp-antiforgery="true" method="POST" onsubmit="return confirm('你确定要删除所有消息吗？这个操作无法撤销。');">
		<button type="submit" class="btn btn-danger">删除所有消息</button>
	</form>

}
else
{
	<p class="text-center text-muted">目前你没有任何消息</p>
}